
* {
    /* this gets rid of all borders and margins by default, they can be added back in on specific elements. As well setting the default font */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*the header is fixed to the top of the page at all times. This whole section controls the hheader*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 26px;
    background-color: rgb(32, 102, 207);
    /* creates a little line under the header box for added style */
    border-bottom: 20px solid rgb(67, 122, 203);
}

/*controls the header links*/
li {
    /* this gets rid of any stlye elements a list would apply to the links */
    list-style-type: none;
    /* this puts distance between all the links*/
    margin-right: 40px;
    /* this pushes the links to the right of the page */
    float: right;
    
}

/* changes all link elements */
a {
    /* text decoration keeps the links from appearing like links and makes them just look like plain text */
    text-decoration: none;
    /* font style, size, and color */
    
    font-size: 22px;
    color: white;
}

/* mainbody is the main section of the website. This sets the text alignment, background, font color, font size */
.mainbody {
    padding-top: 6%;
    text-align: center;
    background-color: beige;
    font-size: 30px;
    color: rgb(73, 73, 73);

}

/* sets the "my new website" font size */
#blurbT {
    font-size: 20px
}

/* controls the comming soon base margins, border, and the backgrounds width and height */
.mainbody img {
    margin: 20px auto ;
    width: 640px;
    height: 362px;
    border: 20px outset rgb(203, 203, 185);

}

/* the coming soon text and the padding and margins around it */
#coming-soon {
    font-size: 35px;
    padding-top: 35%;
    margin: 20px;
}

/* the contact me text and the box which contains all contact elements */
#contact-me-text {
    background-color: rgb(99, 143, 209);
    /* creates a little line under the header box for added style */
    border-top: 10px solid rgb(128, 172, 237);
    /* fixes a gap created by the margin of ".contact-me" */
    padding-bottom: 15px;
}

/* controls the contact me box, the font, the font size, and font color */
.contact-me {
    margin: 15px 35%;
    padding-top: 20px;
    border: 5px outset rgb(128, 172, 237); 
    font-size: 20px;
    color: rgb(73, 73, 73);
}

/* changes the send buttons color, border, padding, background color, its text decoration settings, and its font size */
.submit {
    color: rgb(73, 73, 73);
    border: 0.2rem outset rgb(89, 129, 188);
    padding: 5px 10px;
    background-color:  rgb(84, 122, 177);
    text-decoration: none;
    font-size: 17px;
}

/* bottom footer color, size, and its height */
footer {
    margin: auto;
    background-color: rgb(32, 102, 207);
    height: 100vh;
}

/* the footer text size and its padding */
footer div {
    padding: 20px;
    font-size: 20px;
}
